<% if notice %> 
  <div class="alert alert-warning alert-dismissible fade show animate__fadeInDown" role="alert">
    <%= notice %>
  
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="login-container">
  <img src="/images/jungle-logos_transparent.png" alt="logo" class="logo-img">
  <h2 class="signup">Please sign up</h2>
  <%= form_for :user, url: '/users' do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control'  %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control'  %>
    <%= f.text_field :email, placeholder: "Email", class: 'form-control'  %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control'  %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'form-control'  %>
    <br>
    <%= f.submit "Sign Up", class:"btn btn-primary signin-btn" %>

  <% end %>
</div>